boto3
requests
graphene
pynamodb==4.3.3
python-dotenv
docutils
wheel
typing-extensions
tenacity
pymysql
pyathena
SQLAlchemy
graphene_sqlalchemy
graphene_sqlalchemy_filter
zipp
promise
pendulum
cerberus
deepdiff
pytz
openpyxl
python-jose
chardet
git+git://github.com/ideabosque/silvaengine_utility.git@main#egg=silvaengine_utility
git+git://github.com/ideabosque/event_triggers.git@main#egg=event_triggers
git+git://github.com/ideabosque/silvaengine_base.git@main#egg=silvaengine_base
git+git://github.com/ideabosque/silvaengine_auth.git@main#egg=silvaengine_auth
git+git://github.com/ideabosque/silvaengine_resouces.git@main#egg=silvaengine_resource
