boto3
requests
graphene
pynamodb
python-dotenv
docutils
wheel
typing-extensions
tenacity
pyathena
git+git://github.com/ideabosque/silvaengine_utility.git@main#egg=silvaengine_utility
git+git://github.com/ideabosque/silvaengine_base.git@main#egg=silvaengine_base